{% load humanize %}
{% if result.data %}
    {% for re in result.data %}
        <div class='position-relative margin-3'>
            <a href="javascript:cmtary_click('{{ re.code }}','{{ re.source }}');" class='disblock '>
                <div class='display-table'>
                    <div class='table-cell align-center' style='width:50px;'>
                        <div class='clear-9'></div>
                        <img class="padding" style='width:30px;border-radius:30px;border:1px solid #eee;' src='http://thum.buzzni.com/unsafe/180x180/smart/{{ re.img }}' onerror="this.src='http://thum.buzzni.com/unsafe/180x180/smart/http://ui.buzzni.com/i/nocamera.png'"/>
                        <div class='clear-9'></div>
                    </div>
                    <div class='table-cell-9' style="border-bottom:1px solid #eee;"></div>
                    <div class='table-cell' style="border-bottom:1px solid #eee;">
                        <div class='clear-9'></div>
                        <div class="c-cyan font-11">
                            {% if re.author == null %}익명{% else %}{{ re.author }}{% endif %}
                        </div>
                        <img src="http://ui.buzzni.com/brandmoa/entity_on.png" style="width:18px;"><img src="http://ui.buzzni.com/brandmoa/entity_on.png" style="width:18px;"><img src="http://ui.buzzni.com/brandmoa/entity_on.png" style="width:18px;"><img src="http://ui.buzzni.com/brandmoa/entity_on.png" style="width:18px;"><img src="http://ui.buzzni.com/brandmoa/entity_on.png" style="width:18px;">
                        {{ re.rate }}
                        <div class='clear-9'></div>
                        {% if re.title %}{{ re.title }}<br/>{% else %}{% endif %}
                        {% if re.pros %}{{ re.pros }}<br/>{% else %}{% endif %}
                        {% if re.cons %}{{ re.cons }}<br/>{% else %}{% endif %}
                        {% if re.cmt %}{{ re.cmt }}<br/>{% else %}{% endif %}
                        <div class='clear-9'></div>
                        <div class='align-right margin-right font-9 c-gray'>출처:{{ re.source }}</div>
                        <div class='clear-9'></div>
                    </div>
                    <div class='table-cell-9'></div>
                </div>
            </a>
        </div>
    {% endfor %}
{% endif %}