{% load humanize %}
{% if result.data %}
    {% for re in result.data %}
        <div class='position-relative margin-3'>
            <a href="javascript:company_click('{{ re.company.id }}');" class='disblock '>
                <div class='display-table'>
                    <div class='table-cell align-center' style='width:80px;'>
                        <div class='clear-9'></div>
                        <img class="padding" style='width:50px;border-radius:30px;border:1px solid #eee;' src='http://thum.buzzni.com/unsafe/180x180/smart/{{ re.company.img }}' onerror="this.src='http://thum.buzzni.com/unsafe/180x180/smart/http://ui.buzzni.com/i/nocamera.png'"/>
                        <div class='clear-9'></div>
                    </div>
                    <div class='table-cell-9' style="border-bottom:1px solid #eee;"></div>
                    <div class='table-cell' style="border-bottom:1px solid #eee;">
                        <div class='clear-9'></div>
                        <div class='clear-9'></div>
                        <div class='overflow font-14' style='height:16px;'>
                            <span class='c-lion font-11'>{{ re.rank }}위</span>
                            {{ re.company.name }}
                        </div>
                        <div class='clear-9'></div>
                        <div class='margin-left'>
                            <div class='c-gray font-11'>매출 : {{ re.company.sale|intcomma }}억원</div>
                            <div class='c-gray font-11'>규모 : {{ re.company.employee_num|intcomma }}명</div>
                        </div>
                        <div class='clear-9'></div>
                    </div>
                    <div class='table-cell-9' style="border-bottom:1px solid #eee;"></div>
                    <div class='table-cell-9' style="border-bottom:1px solid #eee;"></div>
                </div>
            </a>
            <div class='position right-5 top-9'>
                <a class="border:1px solid #eee;" href="javascript:action_remove('{{ flag }}', 'company', '{{ re.company.id }}', '{{ re.id }}');">
                    <div style="border:1px solid #eee;border-radius:20px;width:20px;height:20px;">
                        <img src='http://ui.buzzni.com/brandmoa/close.png'/>
                    </div>
                </a>
            </div>
        </div>
    {% endfor %}
{% endif %}