{% load humanize %}
{% if result.data %}
    {% for re in result.data %}
        <div id="list_{{ re.id }}" class='position-relative b-white margin-7 box'>
            <a href="javascript:company_click('{{ re.company.id }}');" class='disblock '>
                <div class='display-table'>
                    <div class='table-cell align-center' style='width:120px;'>
                        <div class='clear-3'></div>
                        <img class='margin-9' style='width:80px;'  src='http://thum.buzzni.com/unsafe/180x180/smart/{{ re.company.img }}' onerror="this.src='http://thum.buzzni.com/unsafe/180x180/smart/http://ui.buzzni.com/i/nocamera.png'"/>
                        <div class='clear-3'></div>
                    </div>
                    <div class='table-cell-9'></div>
                    <div class='table-cell'>
                        <div class='clear-9'></div>
                        <div class='clear-9'></div>
                        <div class='overflow font-15' style='height:16px;'>{{ re.company.name }}</div>
                        <div class='clear-9 border-bottom'></div>
                        <div class='clear-9'></div>
                        <div class='c-gray font-11'>매출 : {{ re.company.sale|intcomma }}억원</div>
                        <div class='c-gray font-11'>규모 : {{ re.company.employee_num|intcomma }}명</div>
                        <div class='c-gray font-11'>업종 : {{ re.company.cate }}</div>
                        <div class='clear-9'></div>
                    </div>
                    <div class='table-cell-9'></div>
                </div>
            </a>
            <div class='position right-0 top-0'>
                <a href="javascript:action_remove('{{ flag }}', 'company', '{{ re.company.id }}', '{{ re.id }}');">
                    <img src='http://ui.buzzni.com/brandmoa/close.png' class='list-logo' />
                </a>
            </div>
        </div>
    {% endfor %}
{% endif %}