{% extends "company/_list.html" %}
{% load humanize %}
{% block css %}
    <style>
        .tab-off{border-bottom:1px solid #ddd;border-top:1px solid #eee;background:#fafafa;}
        .tab-on{background:#fff;color:#333;border:1px solid #ddd;border-bottom:0;}
        .c-cyan {color: #35beeb;}
    </style>
{% endblock %}
{% block tab %}
{% if re.success == True %}
    <div  class="b-white" style="height:130px;">
        <div class="align-center">
            <div class='clear-9'></div>
            <img class="padding-9 b-white" style='width:60px;border-radius:50px;border:1px solid #eee;' src='http://thum.buzzni.com/unsafe/180x180/smart/{{ re.result.img }}' onerror="this.src='http://thum.buzzni.com/unsafe/180x180/smart/http://ui.buzzni.com/i/nocamera.png'"/>
            <div class='clear-9'></div>
            <div class='overflow font-14' style='height:16px;'>
                {{ re.result.name }}
            </div>
        </div>
    </div>
    <div id="menu" class="position">
        <div class="display-table align-center">
            <div class="table-cell-line tab-off"></div>
            <div class="table-cell th5-1 top-bar-border">
                <a href="javascript:void(0);" id="score" class="disblock tab tab-on" style="line-height:16px;">
                    <div class="clear-5"></div>
                    <span class='font-10 c-gray'>종합평점</span>
                    <br/>{{ re.result.score }}점
                    <div class="clear-5"></div>
                </a>
            </div>
            <div class="table-cell th5-1 top-bar-border">
                <a href="javascript:void(0);" id="cmtary" class="disblock tab tab-off" style="line-height:16px;">
                    <div class="clear-5"></div>
                    <span class='font-10 c-gray'>평가</span>
                    <br/><span class=''>{{ re.result.cmtary_num }}</span><span class='font-11'>개</span>
                    <div class="clear-5"></div>
                </a>
            </div>
            <div class="table-cell th5-1 top-bar-border" style="border-right:0;">
                <a href="javascript:void(0);" id="salary" class="disblock tab tab-off" style="line-height:16px;">
                    <div class="clear-5"></div>
                    <span class='font-10 c-gray'>평균연봉</span>
                    <br/><span class='strong'>{{ re.result.avg_salary|intcomma }}</span><span class='font-11'>만원</span>
                    <div class="clear-5"></div>
                </a>
            </div>
            <div class="table-cell-line tab-off"></div>
        </div>
    </div>
    <div style="height:45px;"></div>
    <div class="margin-9 block-hide block" id="cmtary_block">
        <div style="margin-left:15px;" id="cmtary_tag"></div>
        <div class="clear-9"></div>
    </div>
    <div class="margin-9 block-hide block" id="score_block">
        <div class="pull-left" style="width:80px;border-right:1px solid #ddd;margin-left:15px;">
            <div style="height:16px;">
                <img src="http://ui.buzzni.com/brandmoa/entity_on.png" style="width:14px;margin-top:-5px;"><img src="http://ui.buzzni.com/brandmoa/entity_on.png" style="width:14px;margin-top:-5px;"><img src="http://ui.buzzni.com/brandmoa/entity_on.png" style="width:14px;margin-top:-5px;"><img src="http://ui.buzzni.com/brandmoa/entity_on.png" style="width:14px;margin-top:-5px;"><img src="http://ui.buzzni.com/brandmoa/entity_on.png" style="width:14px;margin-top:-5px;">
            </div>
            <div style="height:16px;">
                <img src="http://ui.buzzni.com/brandmoa/entity_on.png" style="width:14px;margin-top:-5px;"><img src="http://ui.buzzni.com/brandmoa/entity_on.png" style="width:14px;margin-top:-5px;"><img src="http://ui.buzzni.com/brandmoa/entity_on.png" style="width:14px;margin-top:-5px;"><img src="http://ui.buzzni.com/brandmoa/entity_on.png" style="width:14px;margin-top:-5px;"><img src="http://ui.buzzni.com/brandmoa/entity_off.png" style="width:14px;margin-top:-5px;">
            </div>
            <div style="height:16px;">
                <img src="http://ui.buzzni.com/brandmoa/entity_on.png" style="width:14px;margin-top:-5px;"><img src="http://ui.buzzni.com/brandmoa/entity_on.png" style="width:14px;margin-top:-5px;"><img src="http://ui.buzzni.com/brandmoa/entity_on.png" style="width:14px;margin-top:-5px;"><img src="http://ui.buzzni.com/brandmoa/entity_off.png" style="width:14px;margin-top:-5px;"><img src="http://ui.buzzni.com/brandmoa/entity_off.png" style="width:14px;margin-top:-5px;">
            </div>
            <div style="height:16px;">
                <img src="http://ui.buzzni.com/brandmoa/entity_on.png" style="width:14px;margin-top:-5px;"><img src="http://ui.buzzni.com/brandmoa/entity_on.png" style="width:14px;margin-top:-5px;"><img src="http://ui.buzzni.com/brandmoa/entity_off.png" style="width:14px;margin-top:-5px;"><img src="http://ui.buzzni.com/brandmoa/entity_off.png" style="width:14px;margin-top:-5px;"><img src="http://ui.buzzni.com/brandmoa/entity_off.png" style="width:14px;margin-top:-5px;">
            </div>
            <div style="height:16px;">
                <img src="http://ui.buzzni.com/brandmoa/entity_on.png" style="width:14px;margin-top:-5px;"><img src="http://ui.buzzni.com/brandmoa/entity_off.png" style="width:14px;margin-top:-5px;"><img src="http://ui.buzzni.com/brandmoa/entity_off.png" style="width:14px;margin-top:-5px;"><img src="http://ui.buzzni.com/brandmoa/entity_off.png" style="width:14px;margin-top:-5px;"><img src="http://ui.buzzni.com/brandmoa/entity_off.png" style="width:14px;margin-top:-5px;">
            </div>
        </div>
        <div class="pull-left" id="cmtary_score"></div>
        <div class="clear-9"></div>
    </div>
    <div class="margin-9 block-hide block" id="salary_block">
        <div class="display-table">
            <div class="table-cell th3-1">
                <button class="bt-basic th-1 spacing" style="height:50px;line-height:18px;border-radius:25px;">
                    <span class="c-gray font-9">min</span>
                    <br/><span class=" c-red">{{ re.result.min_salary|intcomma }}</span><span class="c-gray fonty-10">만원</span>
                </button>
            </div>
            <div class="table-cell-9"></div>
            <div class="table-cell">
                <button class="bt-basic th-1 spacing" style="height:50px;line-height:18px;border-radius:25px;">
                    <span class="c-gray font-9">avg</span>
                    <br/><span class=" c-black">{{ re.result.avg_salary|intcomma }}</span><span class="c-gray fonty-10">만원</span>
                </button>
            </div>
            <div class="table-cell-9"></div>
            <div class="table-cell th3-1">
                <button class="bt-basic th-1 spacing" style="height:50px;line-height:18px;border-radius:25px;">
                    <span class="c-gray font-9">max</span>
                    <br/><span class=" c-green">{{ re.result.max_salary|intcomma }}</span><span class="c-gray fonty-10">만원</span>
                </button>
            </div>
        </div>
        <div class='clear-9'></div>
    </div>
{% else %}
    <div class="b-white margin padding-9 box" style="min-height:600px;">
        <div class="clear-9" style="height:90px;"></div>
        <div class="align-center font-11">상세정보가 없습니다.</div>
    </div>
    <div class="clear-9"></div>
{% endif %}
{% endblock %}
{% block js %}
<script type="text/javascript">
var tab = "score";
var company_id = "{{re.result.id}}";
var company_name = "{{re.result.name}}";
var order = "create_date desc";
var like_id = "";
var alarm_id = "";
function list_scroll(){
    $('.tab').removeClass("tab-on").addClass("tab-off");
    $('#' + tab).removeClass("tab-off").addClass("tab-on");
    $('.block').hide();
    scroll_start = true;
    if (tab == 'cmtary'){
        $('#cmtary_block').show();
        ajax_skin("cmtary/getList", {"skin": "company/skin/_cmtary_list", "table": 'company', "table_id": company_id, "order": "random()", "page": page, "num": num, "fields": cmtary_fields}, function (re) {
            list_result(re);
        });
    } else if (tab == 'score'){
        $('#score_block').show();
        ajax_skin("opn/cloud", {"skin": "company/skin/_opn_cloud", "table": 'company', "table_id": company_id, "data_num": 10, "num": 10}, function (re) {
            list_result(re);
            list_end();
        });
    } else if (tab == 'salary') {
        $('#salary_block').show();
        ajax_skin("company/salary/getList", {"skin": "company/skin/_company_salary", "company_id": company_id, "order": "rank asc"}, function (re) {
            list_result(re);
            list_end();
        });
    }
}
$(function() {
    $(window).scroll(function () {
        if ($(this).scrollTop() > 130 ) {
            $('#menu').removeClass('pisition').addClass('position-top');
        } else {
            $('#menu').addClass('pisition').removeClass('position-top');
        }
    });
    ajax_skin("cmtary/scoreStat", {"skin":"company/skin/_cmtary_score", "table_id": company_id, "table":"company"}, function (re) {
        $('#cmtary_score').append(re);
    });
    ajax_skin("tag/getList", {"skin":"company/skin/_cmtary_tag", "table_id": company_id, "table":"company", "num":16}, function (re) {
        $('#cmtary_tag').append(re);
    });
    ajax_json("company/userInfo", { "company_id": company_id}, function (re) {
        if (re.success == true) {
            like_id = re.result.like_id;
            alarm_id = re.result.alarm_id;
            if (like_id > 0 ){
                $('#like_company_'+company_id+"_bt").removeClass("off").addClass("on");
                $('#like_company_'+company_id+"_bt").attr('like_id',like_id);
            }
            if (alarm_id > 0 ){
                $('#alarm_company_'+company_id+"_bt").removeClass("off").addClass("on");
                $('#alarm_company_'+company_id+"_bt").attr('alarm_id',alarm_id);
            }
        } else {
            //alert(re.msg);
        }
    });
    $("body").on("click", ".tab", function(){
        tab = this.id;
        list_reset();
        $("body").scrollTop(0);
    });
});
</script>
{% endblock %}