{% extends "__list.html" %}
{% block tab %}
    <div class="position-fixed b-white th-1 top-bar z-index">
        <div class="clear-5"></div>
        <div class="display-table">
            <div class="table-cell th5-1 top-bar-border">
                <select id="select_cate" class="top-select th-1">
                    <option value="">전체업종</option>
                    <option value="제조/화학">제조/화학</option>
                    <option value="IT/웹/통신">IT/웹/통신</option>
                    <option value="기관/협회">기관/협회</option>
                    <option value="은행/금융업">은행/금융업</option>
                    <option value="의료/제약/복지">의료/제약/복지</option>
                    <option value="미디어/디자인">미디어/디자인</option>
                </select>
            </div>
            <div class="table-cell th5-1 top-bar-border">
                <select id="select_city" class="top-select th-1">
                    <option value="">전체지역</option>
                    <option value="서울">서울</option>
                    <option value="경기">경기</option>
                    <option value="인천">인천</option>
                    <option value="경남">경남</option>
                    <option value="부산">부산</option>
                    <option value="경북">경북</option>
                    <option value="대구">대구</option>
                    <option value="충남">충남</option>
                    <option value="충북">충북</option>
                    <option value="전북">전북</option>
                    <option value="전남">전남</option>
                    <option value="강원">강원</option>
                    <option value="대전">대전</option>
                    <option value="광주">광주</option>
                    <option value="울산">울산</option>
                    <option value="제주">제주</option>
                    <option value="세종">세종</option>
                </select>
            </div>
            <div class="table-cell th5-1 top-bar-border">
                <select id="select_order" class="top-select th-1">
                    <option value="cmtary_num desc">인기순</option>
                    <option value="avg_salary desc">평균연봉순</option>
                    <option value="score desc,cmtary_num desc">종합평점순</option>
                    <option value="sale desc">매출순</option>
                    <option value="employee_num desc">규모순</option>
                </select>
            </div>
        </div>
    </div>
    <div class="top-bar"></div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        var query = "";
        var order = "cmtary_num desc";
        var cate = "";
        var city = "";
        var table = "company";
        var min_cmtary_num = 0;
        function list_scroll() {
            scroll_start = true;
            if (order == "avg_salary desc" || order == "score desc,cmtary_num desc"){
                min_cmtary_num = 4;
            } else {
                min_cmtary_num = 0;
            }
            ajax_json(""+table+"/getList", {"cate": cate, "page": page, "prov": city, "fields": company_fields, "order": order, "min_cmtary_num": min_cmtary_num, "query": query}, function (re) {
                list_result(re, table, "");
            });
        }
        function skin_company(item, table, skin) {
            var item_score = "";
            for (var i = 0; i < Math.round(item['score']/20); ++i) {
                item_score += "<img style='height:15px;' src='http://ui.buzzni.com/im/starbig_on.png'/>";
            }
            for (var i = 0; i < 5-Math.round(item['score']/20); ++i) {
                item_score += "<img style='height:15px;' src='http://ui.buzzni.com/im/starbig_off.png'/>";
            }
            var re = " \
            <div id='list_" + item['id'] + "' class='position-relative b-white margin-7 box'>\
                <a href=\"javascript:company_click('" + item['id'] + "');\" class='disblock '>\
                    <div class='display-table'>\
                        <div class='table-cell align-center' style='width:120px;'>\
                            <div class='clear-3'></div>\
                            <img class='margin-9' style='width:80px;'  src='http://thum.buzzni.com/unsafe/180x180/smart/" + item['img'] + "' onerror='this.src=\"http://thum.buzzni.com/unsafe/180x180/smart/http://ui.buzzni.com/i/nocamera.png\"'/>\
                            <div class='clear-3'></div>\
                        </div>\
                        <div class='table-cell-9'></div>\
                        <div class='table-cell'>\
                            <div class='clear-9'></div>\
                            <div class='clear-9'></div>\
                            <div class='overflow font-15' style='height:16px;'><span class='c-lion font-15'>"+ list_count +"</span><span class='c-lion'>위</span> "+ item['name'] + "</div>\
                            <div class='clear-9 border-bottom'></div>\
                            <div class='clear-9'></div>\
                            <div class='c-gray font-11'>매출 : "+item['sale'].format()+"억원</div>\
                            <div class='c-gray font-11'>규모 : "+item['employee_num'].format()+"명</div>\
                            <div class='c-gray font-11'>업종 : "+item['cate']+"</div>\
                            <div class='clear-9'></div>\
                        </div>\
                        <div class='table-cell-9'></div>\
                    </div>\
                    <div class='clear border-bottom'></div>\
                    <div class='clear-5' style='background:#fafafa;'></div>\
                    <div class='display-table' style='background:#fafafa;'>\
                        <div class='table-cell align-center th3-1' style='border-right:1px solid #eee;'>\
                            <span class='c-gray font-10'>종합평점 "+item['score']+"점</span>\
                            <div class='clear-3'></div>\
                            <span class=''>"+item_score+"</span>\
                        </div>\
                        <div class='table-cell align-center th3-1' style='border-right:1px solid #eee;'>\
                            <span class='c-gray font-10'>평가</span>\
                            <div class='clear-3'></div>\
                            <span class=''>"+item['cmtary_num'].format()+"</span><span class='font-11'>개</span>\
                        </div>\
                        <div class='table-cell align-center th3-1'>\
                            <span class='c-gray font-10'>평균연봉</span>\
                            <div class='clear-3'></div>\
                            <span class='strong'>"+item['avg_salary'].format()+"</span><span class='font-11'>만원</span>\
                        </div>\
                    </div>\
                    <div class='clear-5' style='background:#fafafa;'></div>\
                </a>\
            </div>\
            ";
            return re;
        }
        $(function () {
            $("body").on("change", "#select_cate",function(){
                cate = this.value;
                list_reset();
            });
            $("body").on("change", "#select_order", function () {
                order = this.value;
                list_reset();
            });
            $("body").on("change", "#select_city", function () {
                city = this.value;
                list_reset();
            });

            //first setting
            if (window.location.pathname == '/first' || window.location.pathname == '//first') {
                var user_status = "{{request.session.user.status}}";
                if (user_status == "new") {
                    if (user_id && user_token) {
                        native_set_userid(user_id);
                        native_set_token(user_token);
                        //유효한 사용자 확인
                        native_user_id = native_get_userid();
                        if (native_user_id == user_id) {
                            var app_id = "{{request.session.device.app_id}}";
                            if (app_id) {
                                ajax_json("user/confirm_regist", {"app_id": app_id}, function (re) {
                                    if (re.success == true) {
                                        //alert(JSON.stringify(re));
                                    } else {
                                        native_send_toast(re.msg);
                                        send_error("newuser_false_confirm_regist_company");
                                    }
                                });
                            } else {
                                native_send_toast("app_id가 없습니다.");
                                send_error("newuser_no_appid_company");
                            }
                        } else {
                            send_error("newuser_vs_nativeuser_company");
                        }
                    } else {
                        native_send_toast("잘못된 사용자입니다.");
                        send_error("newuser_no_token_company");
                    }
                    send_stat("newuser_company");
                } else if (user_status == "true") {
                } else if (user_status == "newfalse") {
                    native_send_toast("{{request.session.user.msg}}-newfalse");
                    send_error("userlogin_newfalse_company");
                } else if (user_status == "false") {
                    native_send_toast("{{request.session.user.msg}}-false");
                    send_error("userlogin_false_company");
                } else if (user_status == "newdelete") {
                    native_send_toast("{{request.session.user.msg}}-newdelete");
                    send_error("userlogin_newdelete_company");
                } else if (user_status == "delete") {
                    //native_set_userid('');
                    //native_set_token('');
                    //native_send_toast("로그인을 하시거나 앱을 삭제하고 다시 설치하세요.");
                    native_send_toast("{{request.session.user.msg}}-delete");
                    send_error("userlogin_delete_company");
                } else {
                    native_send_toast("잘못된 접근입니다.");
                    send_error("userlogin_error_company");
                }
                if (is_android_app() && (user_status == "new" || user_status == "true")) {
                    var push_code = native_get_push();
                    var device_code = native_get_device();
                    if (push_code && device_code) {
                        ajax_json("device/pushcode", {"device_code": device_code, "push_code": push_code, "service": service}, function (re) {
                            if (re.success == true) {
                                //alert(JSON.stringify(re));
                            } else {
                                native_send_toast(re.msg);
                                send_error("push_code_false_company");
                            }
                        });
                    } else {
                        send_error("push_code_empty_company");
                    }
                }
                send_stat("company_main");
            }
            setTimeout("native_tabbar_mode(1)", 55);
        });
    </script>
{% endblock %}